@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #3c484e;
  font-family: "Open Sans", sans-serif;
}


.main {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(auto, 1024px);
  padding: 10px;
  row-gap: 10px;
}


.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  text-decoration: none;
  color: #15302c;
}


.characters {
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}
.character-item {
  display: block;
  border-radius: 5px;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);
  text-decoration: none;
  animation-name: fade;
  animation-duration: 2s;
}
.character-item img {
  width: 100%;
  min-height: 300px;
  border-radius: 5px 5px 0 0;
}
.character-item h2 {
  margin: 0;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 300;
}
.character-item a {
  text-decoration: none;
  color: #026c86;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.main-loading {
  width: 20px;
  height: 20px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
